aiohttp
regex
python-dateutil
aiodns
dnspython
PyNaCl
psutil
parsedatetime
numpy
Pillow==9.5.0
disnake==2.8.0
disnake-jishaku==2.6.5
disnake-ext-menus==0.0.3
pymongo==3.12.3
umongo==3.0.0
motor==2.5.1
python-dotenv
pytz
matplotlib
mafic
dulwich
marshmallow==3.20.1